<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BTC_RUB</title>

    <link rel="stylesheet" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bower_components/angular-ui-grid/ui-grid.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
</head>
<body ng-controller="homeController">

<header>
    <h1 class="text-capitalize text-center bg-gray m-0 p-y-10">arbitrage</h1>
</header>
<div class="p-x-20 p-b-20 table-wrapper" style="background-color: #f0f0f0">
    <div class="pull-right">
        <ul class="list-unstyled list-inline m-0">
            <li>
                <div class="exchange1 m-y-10">
                    <div ng-dropdown-multiselect="" options="exchange1data" selected-model="exchange1model"
                         extra-settings="exchange1settings" translation-texts="exchange1text"></div>
                </div>
            </li>
            <li>
                <div class="exchange2 m-y-10">
                    <div ng-dropdown-multiselect="" options="exchange2data" selected-model="exchange2model"
                         extra-settings="exchange2settings" translation-texts="exchange2text"></div>
                </div>
            </li>
            <li>
                <select id="currency" class="form-control text-capitalize m-y-10"
                        ng-model="currency.selectedCurrency"
                        name="currency">
                    <option ng-repeat="currency_row in currency.options track by $index"
                            value="//currency_row//">//currency_row//
                    </option>
                </select>
            </li>
            <li>
                <button ng-click="updateTable()" class="btn btn-primary text-uppercase p-y-5" type="submit">
                    apply
                </button>
            </li>
        </ul>
    </div>
    <div class="clearfix"></div>
    <div style="background-color: white" class="table-output m-tb-7">
        <div id="arbtGridOptions" ui-grid="arbtGridOptions" class="grid" ui-grid-pagination></div>
    </div>
</div>

<script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'bower_components/angular/angular.min.js' %}"></script>
<script src="{% static 'bower_components/angular-ui-router/release/angular-ui-router.min.js' %}"></script>
<script src="{% static 'bower_components/angular-ui-grid/ui-grid.min.js' %}"></script>
<script src="{% static 'bower_components/angularjs-dropdown-multiselect/dist/angularjs-dropdown-multiselect.min.js' %}"></script>

<script src="{% static 'js/app.js' %}"></script>
<script src="{% static 'js/controller/baseController.js' %}"></script>
<script src="{% static 'js/controller/homeController.js' %}"></script>

</body>
</html>
