<!DOCTYPE html>
<html lang="en" data-ng-app="app">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BTC_RUB</title>

    <link rel="stylesheet" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bower_components/angular-ui-grid/ui-grid.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
</head>
<body data-ng-controller="homeController">

<header>
    <h1 class="text-capitalize text-center bg-gray m-0 p-y-10">arbitrage</h1>
</header>
<div class="p-x-20 p-b-20 table-wrapper" style="background-color: #f0f0f0">
    <div class="pull-right">
        <ul class="list-unstyled list-inline m-0">
            <li>
                <div class="exchange m-y-10" title="Buy Here">
                    <div data-ng-dropdown-multiselect="" options="buyHeredata" selected-model="buyHeremodel"
                         extra-settings="buyHeresettings" translation-texts="buyHeretext"></div>
                </div>
            </li>
            <li>
                <div class="exchange m-y-10" title="Sell Here">
                    <div data-ng-dropdown-multiselect="" options="sellHeredata" selected-model="sellHeremodel"
                         extra-settings="sellHeresettings" translation-texts="sellHeretext"></div>
                </div>
            </li>
            <li>
                <div class="exchange m-y-10" title="Crypto Pairs">
                    <div data-ng-dropdown-multiselect="" options="cryptoPairsdata" selected-model="cryptoPairsmodel"
                         extra-settings="cryptoPairssettings" translation-texts="cryptoPairstext"></div>
                </div>
            </li>
            <li>
                <button data-ng-click="updateTable()" class="btn btn-primary text-uppercase p-y-5" type="submit">
                    apply
                </button>
            </li>
        </ul>
    </div>
    <div class="clearfix"></div>
    <div style="background-color: white" class="table-output m-tb-7">
        <div id="arbtGridOptions" ui-grid="arbtGridOptions" class="grid" ui-grid-pagination></div>
        <!--<table class="table table-striped table-bordered">-->
            <!--<thead>-->
            <!--<tr>-->
                <!--<th>Sell Here</th>-->
                <!--<th>Crypto Pair</th>-->
                <!--<th>Ask</th>-->
                <!--<th>Date Time</th>-->
                <!--<th>Buy Here</th>-->
                <!--<th>Spread</th>-->
                <!--<th>Bid Volume</th>-->
                <!--<th>Bid</th>-->
                <!--<th>Ask Volume</th>-->
            <!--</tr>-->
            <!--</thead>-->
            <!--<tbody>-->
            <!--{% for i in data %}-->
                <!--<tr>-->
                    <!--<td>{{i.sell_here}}</td>-->
                    <!--<td>{{i.crypto_pair}}</td>-->
                    <!--<td>{{i.ask}}</td>-->
                    <!--<td>{{i.date_time}}</td>-->
                    <!--<td>{{i.buy_here}}</td>-->
                    <!--<td>{{i.spread}}</td>-->
                    <!--<td>{{i.bid_volume}}</td>-->
                    <!--<td>{{i.bid}}</td>-->
                    <!--<td>{{i.ask_volume}}</td>-->
                <!--</tr>-->
            <!--{% endfor %}-->
            <!--</tbody>-->
        <!--</table>-->
    </div>
</div>

<script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'bower_components/angular/angular.min.js' %}"></script>
<script src="{% static 'bower_components/angular-ui-router/release/angular-ui-router.min.js' %}"></script>
<script src="{% static 'bower_components/angular-ui-grid/ui-grid.min.js' %}"></script>
<script src="{% static 'bower_components/angularjs-dropdown-multiselect/dist/angularjs-dropdown-multiselect.min.js' %}"></script>

<script src="{% static 'js/app.js' %}"></script>
<script src="{% static 'js/controller/baseController.js' %}"></script>
<script src="{% static 'js/controller/homeController.js' %}"></script>

</body>
</html>
