<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BTC_RUB</title>

    <link rel="stylesheet" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bower_components/angular-ui-grid/ui-grid.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
</head>
<body ng-controller="homeController">

<header>
    <h1 class="text-capitalize text-center bg-gray m-0 p-y-10">arbitrage</h1>
</header>
<div class="p-x-20 p-b-20 table-wrapper" style="background-color: #f0f0f0">
    <div class="pull-right">
        <ul class="list-unstyled list-inline m-0">
            <li>
                <div class="exchange1 m-y-10">
                    <div ng-dropdown-multiselect="" options="exchange1data" selected-model="exchange1model"
                         extra-settings="exchange1settings" translation-texts="exchange1text"></div>
                </div>
            </li>
            <li>
                <div class="exchange2 m-y-10">
                    <div ng-dropdown-multiselect="" options="exchange2data" selected-model="exchange2model"
                         extra-settings="exchange2settings" translation-texts="exchange2text"></div>
                </div>
            </li>
            <li>
                <select id="currency" class="form-control text-capitalize m-y-10"
                        ng-model="currency.selectedCurrency"
                        name="currency">
                    <option ng-repeat="currency_row in currency.options track by $index"
                            value="//currency_row//">//currency_row//
                    </option>
                </select>
            </li>
            <li>
                <button ng-click="updateTable()" class="btn btn-primary text-uppercase p-y-5" type="submit">
                    apply
                </button>
            </li>
        </ul>
    </div>
    <div class="clearfix"></div>
    <div style="background-color: white" class="table-output m-tb-7">
        <table>
            <thead class="table-header">
            <tr>
                <th>Sell Here</th>
                <th>Crypto Pair</th>
                <th>Ask</th>
                <th>Date Time</th>
                <th>Buy Here</th>
                <th>Spread</th>
                <th>Bid Vloume</th>
                <th>Bid</th>
                <th>Ask Volume</th>
            </tr>
            </thead>
            <tbody>
            {% for each_row in data %}
            <tr>
                <td class="text-capitalize">{{each_row.sell_here}}</td>
                <td>{{each_row.crypto_pair}}</td>
                <td>{{each_row.ask}}</td>
               {# <td>{{each_row.dateTime}}</td> #}
                <td>{{each_row.date_time | date:'Y-M-d H:i:s'}}</td>
                <td class="text-capitalize">{{each_row.buy_here}}</td>
                <td>{{each_row.spread}}</td>
                <td>{{each_row.bid_volume}}</td>
                <td>{{each_row.bid}}</td>
                <td>{{each_row.ask_volume}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <!--<div class="table-pagination">-->
        <!--<a title="Page to first" ng-class="{'disabled': currentPage === 1}"-->
        <!--class="pagination-start glyphicon glyphicon-step-backward disabled" ng-click="goToStart()"></a>-->
        <!--<a title="Page back" ng-class="{'disabled': currentPage === 1}"-->
        <!--class="pagination-prev glyphicon glyphicon-chevron-left" ng-click="goToPrev($event)"></a>-->
        <!--{{currentPage}}/{{totalPages}}-->
        <!--<a title="Page forward" ng-class="{'disabled': currentPage === totalPages}"-->
        <!--class="pagination-next glyphicon glyphicon-chevron-right" ng-click="goToNext($event)"></a>-->
        <!--<a title="Page to last" ng-class="{'disabled': currentPage === totalPages}"-->
        <!--class="pagination-last glyphicon glyphicon-step-forward" ng-click="goToLast()"></a>-->
        <!--<select class="row-selection" ng-change="setTableRow()" ng-model="displayRows">-->
        <!--<option ng-repeat="rows in totalRows track by $index" value="{{rows}}">{{rows}}</option>-->
        <!--</select> items per page-->
        <!--<span class="total-items pull-right">-->
        <!--1 - {{displayRows}} of {{strategyTableOutput.length}} items-->
        <!--</span>-->
        <!--</div>-->
    </div>
</div>

<script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'bower_components/angular/angular.min.js' %}"></script>
<script src="{% static 'bower_components/angular-ui-router/release/angular-ui-router.min.js' %}"></script>
<script src="{% static 'bower_components/angular-ui-grid/ui-grid.min.js' %}"></script>
<script src="{% static 'bower_components/angularjs-dropdown-multiselect/dist/angularjs-dropdown-multiselect.min.js' %}"></script>

<script src="{% static 'js/app.js' %}"></script>
<script src="{% static 'js/controller/baseController.js' %}"></script>
<script src="{% static 'js/controller/homeController.js' %}"></script>

</body>
</html>
